<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NSUserDefault.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>04E5E4C21D7D8A83008B810C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04E5E4D61D7D8A83008B810C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04E5E4E11D7D8A83008B810C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
